<% layout('layouts/boilerplate') %>

<div class="container mt-4">
    <h2 class="mb-4">🏙️ Iconic Cities </h2>

    <% if (iconicListings.length === 0) { %>
        <p>No listings found in this category.</p>
    <% } else { %>
        <div class="row">
            <% iconicListings.forEach(listing => { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100 listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top show-image" alt="Listing image">

                        <div class="card-body">
                            <h5 class="card-title"><%= listing.title %></h5>
                            <p class="card-text"><%= listing.description.substring(0, 100) %>...</p>
                            <p class="card-text">&#8377 <%= listing.price.toLocaleString("en-IN") %></p>
                            <p class="card-text"><%= listing.location %>, <%= listing.country %></p>
                            <a href="/listings/<%= listing._id %>" class="btn btn-dark btn-sm">View Details</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>
</div>
